.text-success{
    color: #26a945;
}

.text-primary{
    color: #6264cb;
}

.text-muted{
    color: #3c4044;
}

.bg-light{
    background-color: #f4f4f4;
    color: #333;
}

.d-flex{
    display: flex;
}

.btn{
    text-decoration: none;
    padding: 15px;
    border: none;
    border-radius: 5px;
}

.btn-success{
    background-color: #28a745;
    color: #fff;
}
.icon-success{
    background-color: green;
    padding: 15px;
    border-radius: 50%;
    color: whitesmoke;
}
.row-reverse{
    font-display: row-reverse;
}
.d-col{
    flex-direction: column;
}

.icon-success{
    background-color: #28a745;
    padding: 15px;
    border-radius: 50%;
    color: white;   
}